.sidebar-item {
  --sidebar-item-icon-color: #187adc;
  --sidebar-item-border-left-color: #0051af;
  --sidebar-item-accent-icon-color: #0051af;
  align-items: center !important;
}

.sidebar-item a,
.sidebar-item button {
  align-items: end;
  text-decoration: none !important;
  border-left: 4px transparent solid;
}

.sidebar-item[data-selected="true"] a {
  border-left-color: var(--sidebar-item-border-left-color);
  border-radius: 4px;
}

.sidebar-item[data-selected="true"] {
  background: none !important;
}
